<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>day #</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/anotherstyle.css"/>
</head>
<body ng-app="myApp">

<div ng-controller="myController as myCtrl">
    <p ng-repeat="period in myCtrl.periods">
        <span ng-repeat="day in myCtrl.sevenDays">
            <span class="col-xs-2 back-structure">

            </span>
        </span>
    </p>
</div>

<script src="js/lib/angular/angular.min.js"></script>
<script src="js/app.js"></script>
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
</body>
</html>
